@charset "UTF-8";
body{
	margin:0;
	align-items:center;
	justify-content:center;
	height:100vh;
	font-family:Arial,Sans-serif;
	background-color:#AEFD6C;
	background-image:url('backimg.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	display: flex;
	color:#333;
	flex-direction:column;
}
.box{
	width:80%;
	max-width:400px;
	text-align:center;
	padding:20px;
	border-radius:10px;
	background-color:white;
	box-shadow:0 0 10px rgba(0,0,1,0.5);
}
h1{
	color:orange;
	font-weight:bold;
}
p{
	line-height:1.6;
	margin :20px 0;
}

a{
	margin: 0 10px;
	color:Blue;
	text-decoration:none;
	font-weight:bold;
	transition: color 0.3s ease;
}
a:hover{
	color:green;
	text-transform:uppercase;
	font-size:20px;
}
label {
    display: block;
    margin: 10px 0;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
